# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.suo
*.cache
*.sln.docstates
*.dll.refresh
[Bb]uild[Ll]og.*
[Tt]est[Rr]esult*

# Resharper files
_ReSharper*/

# .NET Core files
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# User-specific files
*.user
*.sln.ide
*.suo
*.userprefs
*.vssettings
*.vssscc
*.vspscc
*.resharper

# LeetCode files
*.csproj.user
bin/
obj/
